#root {
  max-width: 1920px;
  margin: 0 auto;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

body{
  overflow-x: hidden;
}

main {
  max-width: 1280px;
  padding-block: 80px;
}

@media (prefers-reduced-motion: no-preference) {

}

